.fleetwm-workspace-button,
.fleetwm-power-menu,
.fleetwm-power-menu-item {
  border-radius: 0;
}

window.fleetwm-panel,
.fleetwm-launcher-entry,
.fleetwm-launcher-list row {
  border-radius: 0;
}

.fleetwm-greeter-avatar,
.fleetwm-greeter-entry,
.fleetwm-greeter-submit-button,
.fleetwm-greeter-power-button,
.fleetwm-greeter-back-button {
  border-radius: 0;
}
