[Desktop Entry]
Name=Fleetwm Settings
Comment=Configure Fleetwm's theme, taskbar, displays, and devices
Exec=fleetwm-settings
Icon=fleetwm-settings
Type=Application
Categories=Settings;
Terminal=false
StartupWMClass=dev.fleetwm.Settings
Keywords=theme;display;taskbar;network;bluetooth;
